<nav class="navbar  navbar-light  bg-light navbar-expand-sm">
  <a class="navbar-brand" href="#"> <img src="assets\imagenes\logo-invicta_180x.avif" alt="Logo"></a>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link dropdown-toggle hover-dropdown" href="#" id="coleccionesDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Colecciones
        </a>
        <div class="dropdown-menu" aria-labelledby="coleccionesDropdown">
          <a class="dropdown-item" href="#">Elemento 1
            <span class="float-right">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </span>
          </a>
          <a class="dropdown-item" href="#">Elemento 2
            <span class="float-right">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </span>
          </a>
          <a class="dropdown-item" href="#">Elemento 3
            <span class="float-right">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </span>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='#'>Hombre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='#'> Gafas A 199.900</a>
      </li>
      <li class="nav-item oferta">
        <a class="nav-link" href='#'>Súper
          Oferta</a>
      </li>
    </ul>

  </div>
  <div class="icons">
    <mat-icon class="white-icon">search</mat-icon>
    <mat-icon class="white-icon">favorite</mat-icon>
    <mat-icon class="white-icon">shopping_cart</mat-icon>
    <mat-icon class="white-icon person">person</mat-icon>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
    <mat-icon>menu</mat-icon>
  </button>
</nav>


<div id="marq">
  <span id="orig">
    <i class="material-icons">security</i> Seguridad en tu compra
    <i class="material-icons">local_shipping</i> Entrega en 24 horas en la ciudad de Bogotá
    <i class="material-icons">verified_user</i> 3 años de garantía Invicta
    <i class="material-icons">phone</i> Celular: (57) 3023423260
  </span>
  <span id="orig">
    <i class="material-icons">security</i> Seguridad en tu compra
    <i class="material-icons">local_shipping</i> Entrega en 24 horas en la ciudad de Bogotá
    <i class="material-icons">verified_user</i> 3 años de garantía Invicta
    <i class="material-icons">phone</i> Celular: (57) 3023423260
  </span>
</div>
