<div class="d-block d-sm-none">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title> SERVICIO AL CLIENTE </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="descripcion">
        <p>Contactanos</p>
        <p>Metodos de Pago</p>
        <p>Cambios y Devoluciones</p>
        <p>Cuía de Tallas</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title> NUESTRA EMPRESA </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="descripcion">
        <p>Quiéres Somos</p>
        <p>Localizador de Tiendas</p>
        <p>Prensa</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
