<header class="header">
  <div class="header-top">
    <div class="container">
      <ul class="menu-right">
        <li class="list-icons">
          <img class="lazypreload js ls-is-cached lazyloaded"
            src="https://cdn.shopify.com/s/files/1/0275/8420/0792/files/truck.svg?v=1583794982" width="40" height="23"
            alt="Envíos a toda Colombia">
        </li><a href=""><b>Envíos a toda Colombia</b></a> |
        <li class="list-icons"><a href="https://invicta-colombia.myshopify.com/pages/contactanos"
            aria-describedby="a11y-external-message">
            <img class="lazypreload js ls-is-cached lazyloaded"
              src="https://cdn.shopify.com/s/files/1/0275/8420/0792/files/mail.svg?v=1583795310" width="27" height="23"
              title="Contáctanos" alt="mail">
          </a></li> <a href=""> <b>Contáctanos</b></a> |
        <li class="list-icons login"><a href="https://invicta-colombia.myshopify.com/account/login"
            aria-describedby="a11y-external-message">
            <img class="lazypreload js ls-is-cached lazyloaded"
              src="https://cdn.shopify.com/s/files/1/0275/8420/0792/files/user.svg?v=1583796159" width="26" height="23"
              title="Iniciar sesión" alt="usuario"></a></li>
        <a href=""> <b>Inicio Sesión</b> </a>
      </ul>

      <ul class="menu-left">
        <li class="list-icon-left">
          <div class="linktop">
            <a href="https://technomarine.co/" aria-describedby="a11y-external-message" target="_blank">
              <span>Visita también</span>
              <img class="lazypreload js ls-is-cached lazyloaded"
                src="https://cdn.shopify.com/s/files/1/0250/1433/7599/files/logo-txt-techno.png?v=1604014340"
                height="20" width="128" alt="technomarine.co"></a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</header>
