<!-- Encabezado de la página -->
<header>
	<app-header></app-header>
	<app-header-middle></app-header-middle>
</header>

<!-- Contenido principal -->
<main>
	<section class="slider-banner">
		<app-slider></app-slider>
		<app-banner></app-banner>
	</section>

	<section class="product-section">
		<app-products></app-products>
	</section>
</main>

<!-- Pie de página -->
<footer>
	<section class="footer-top">
		<app-button-wp></app-button-wp>
		<app-popup></app-popup>
	</section>
	<app-footer></app-footer>
</footer>